@font-face {
	font-family: Montserrat;
	src: url(/misc/fonts/Montserrat.ttf);
}

body {
	font-family: Montserrat;
	padding: 0;
	margin: 0;
}

div ::-webkit-scrollbar {
	display: none;
}

div {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

button, .btn {
	font-family: Montserrat;
	background-color: #0096FF;
	border: none;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: bold;
}

label {
	color: gray;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	float: left !important;
}
.lol {
	display: inline-block;
	width: 100%;
}
input {
	margin-bottom: 6px;
}

input[type="text"], input[type="password"], select, input[type="number"] {
	padding: 6px;
	font-family: Montserrat;
	border-radius: 10px;
	outline: none;
	background-color: white;
	border: 1px solid gray !important;
}

table {
	width: 100%;
}


th {
	background-color: #0096FF;
	color: white;
	padding: 15px;
}

td {
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.platform {
	width: 400px;
	padding-top: 120px;
	padding-bottom: 120px;
	border-radius: 5px;
	border: 2px gray solid;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 5px #dddddd;
}
.info {
	display: flex;
	align-items: center;
}

.headshot {
	width:125px;
	height:auto;
	border:2px solid gray;
	border-radius:100%;
}

.platform2 {
	width: 900px;
	height: 400px;
	padding: 15px;
	border-radius: 5px;
	border: 2px gray solid;
	box-shadow: 5px 5px 5px #dddddd;
	display: inline-block;
}

.forumplatform {
	border-radius: 5px;
	border: 2px gray solid;
	box-shadow: 5px 5px 5px #dddddd;
	display: inline-block;
	width:700px;
	height:auto;
	padding:0;
	text-align: left;
	overflow:hidden;
}

.center {
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
}

.bux {
	background-color: green !important;
}

.coins {
	background-color: orange !important;
}

form {
	margin:0;
}

.redmsg {
	width: 95%;
	background: rgb(255,0,0);
	background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,70,70,1) 100%); 	
	border: 1px solid darkred;
	padding: 4px;
	color: white;
}

.greenmsg {
	width: 95%;
	background: rgb(61,255,0);
	background: linear-gradient(180deg, rgba(61,255,0,1) 0%, rgba(117,255,70,1) 100%); 
	border: 1px solid darkgreen;
	padding: 4px;
	color: white;
}

.user {
	width: 150px !important;
	height: 200px !important;
	border-radius: 5px;
	border: 2px gray solid;
	margin-right: 10px;
	display: inline-block;
	overflow: hidden;
	box-shadow: 5px 5px 5px #dddddd;
}

.welcomepfp {
	width: 300px !important;
	height: 250px !important;
	border-radius: 5px;
	border: 2px gray solid;
	margin-right: 10px;
	display: inline-block;
	overflow: hidden;
	box-shadow: 5px 5px 5px #dddddd;
}

.user p {
		overflow: hidden;
		white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.user i {
	display: inline-block;
	margin-right: 10px;
			white-space: nowrap;
}
.idk {
	display: flex;
	justify-content: center;
	align-items: center;
}
p, a, h1, h2 {
	margin: 0;
	padding: 0;
}
.avatarimg {
	width: 300px;
	height: auto;
	border-radius: 5px;
	border: 2px gray solid;
	margin-right: 10px;
	display: inline-block;
	box-shadow: 5px 5px 5px #dddddd;
}

textarea {
	resize: none;
	font-family: Montserrat;
	padding: 6px;
	border-radius: 10px;
	outline: none;
	border: 1px solid gray !important;
	font-size: 15px;
}

.platform3 {
	width: 98%;
	padding: 10px;
	height: auto;
	border-radius: 5px;
	border: 2px gray solid;
	margin-right: 10px;
	box-shadow: 5px 5px 5px #dddddd;
}


.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0096FF;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

.navul li {
  float: left;
}

.two {
	display: flex;
	align-items: center;
}

.nava {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
}

.navli a {
	color: white;
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 99;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  border-radius: 10px;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 99;
  background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
